.add-new-record {
  align-self: flex-end;
  .add-new-record-button {
    width: 9em;
    height: 3em;
    padding-left: 10px;
    padding-right: 10px;
    margin: 30px;

    align-self: flex-end;
    background: #204080;
    border-radius: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #ffffff;
  }
  .add-new-record-button:hover {
    background: #4f75c2;
  }
}
