.bottom-information {
  display: flex;
  flex-direction: row;
  background: rgba(41, 78, 152, 0.72);
  width: 100%;
  margin-top: 30px;
  img {
    margin: 30px;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
  .map {
    margin: 30px;
    width: 50em;
    height: 12em;
  }
}

@media screen and (max-width: 420px) {
  .bottom-information {
    flex-direction: column;

    .info {
      margin: 10px;
    }
    .map {
      margin: 10px;
      width: 360px;
    }
  }
}
