.landing-page {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 420px) {
  .landing-page {
    max-width: 390px;
    width: 390px;
    overflow: hidden;
  }
}
